In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\Choud\\Downloads\\placement - placement.csv")
df

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [5]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [7]:
# Check dataset shape
df.shape  # Output should be (100, 3)

# Split into input (X) and target (y)
x = df.drop(columns=['placed'])  # Input data (features)
y = df['placed']                 # Target data (label)

# Import train_test_split from sklearn
# If scikit-learn is not installed, uncomment the line below to install it:
# !pip install scikit-learn

from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [9]:
# Check dataset shape
df.shape  # Output should be (100, 3)

(100, 3)

In [11]:
# Split into input (X) and target (y)
x = df.drop(columns=['placed'])  # Input data (features)
y = df['placed']

In [13]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\choud\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\choud\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\choud\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\choud\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\choud\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [16]:
print("Total data shape: ", df.shape)
print("------------------------------")
print()

print("Input data shape: ", x.shape)
print("Input data shape (Train): ", x_train.shape)
print("Input data shape (Test): ", x_test.shape)
print("------------------------------")
print()

print("Target data shape: ", y.shape)
print("Target data shape (Train): ", y_train.shape)
print("Target data shape (Test): ", y_test.shape)

Total data shape:  (100, 3)
------------------------------

Input data shape:  (100, 2)
Input data shape (Train):  (80, 2)
Input data shape (Test):  (20, 2)
------------------------------

Target data shape:  (100,)
Target data shape (Train):  (80,)
Target data shape (Test):  (20,)

In [17]:
x_train

    cgpa  resume_score
55  6.94          6.87
88  8.07          6.07
26  6.27          6.47
42  6.90          6.91
69  8.06          9.06
..   ...           ...
60  5.87          6.64
71  7.34          8.22
14  7.51          6.25
92  5.43          6.18
51  6.54          7.39

[80 rows x 2 columns]

In [18]:
# Load the dataset
df = pd.read_csv('covid_toy.csv')

# Display the first 3 rows of the dataset
df.head(3)

# Check value counts for 'gender'
df['gender'].value_counts()

# Check value counts for 'cough'
df['cough'].value_counts()

FileNotFoundError: [Errno 2] No such file or directory: 'covid_toy.csv'

In [ ]:
df = pd.read_csv("C://Users//Choud//Downloads/covid_toy - covid_toy.csv")

In [ ]:
df.head(3)

In [ ]:
df['gender'].value_counts()

In [ ]:
df['cough'].value_counts()

In [ ]:
df['gender'] = df['gender'].map({"Female": 0, "Male": 1})

In [ ]:
df['cough'] = df['cough'].map({"Mild": 0, "Strong": 1})

In [ ]:
df.sample(4)

In [ ]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
print("Total data shape: ", df.shape)
print("------------------------------")
print()

print("Input data shape: ", x.shape)
print("Input data shape (Train): ", x_train.shape)
print("Input data shape (Test): ", x_test.shape)
print("------------------------------")
print()

print("Target data shape: ", y.shape)
print("Target data shape (Train): ", y_train.shape)
print("Target data shape (Test): ", y_test.shape)

In [21]:
df=pd.read_csv("C:\\Users\\Choud\\Downloads\\placement - placement.csv")

In [23]:
df

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [31]:
x=df.drop(columns=['placed'])## input data

In [33]:
y=df['placed'] ## target data

In [35]:
from sklearn.model_selection import train_test_split

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [39]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [63]:
from sklearn.preprocessing import StandardScaler

In [68]:
sc=StandardScaler() ## mean value do zero convert normal distribution

In [70]:
x_train_sc = sc.fit_transform(x_train)## fit mean learn the peramiter and transformer mean apply on the data

In [72]:
type(x_train_sc)

numpy.ndarray

In [74]:
x_train_new = pd.DataFrame(x_train_sc, columns=x_train.columns)

# Check the type to confirm it's a DataFrame
type(x_train_new)  # Output: pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [78]:
np.round(x_train_new.describe(), 2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

## data 2

In [83]:
df = pd.read_csv("C://Users//Choud//Downloads/covid_toy - covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [85]:
from sklearn.impute import SimpleImputer  # Used for filling missing data

# Create the imputer instance
si = SimpleImputer()

# Apply imputer on 'fever' column (reshape it to 2D using double brackets)
df['fever'] = si.fit_transform(df[['fever']])

# Check number of missing values in the DataFrame
df.isnull().sum()

# View the first 3 rows of the DataFrame
df.head(3)

# Count the values in the 'has_covid' column
df['has_covid'].value_counts()

# Encode categorical variables using mapping
df['gender'] = df['gender'].map({"Male": 0, "Female": 1})
df['cough'] = df['cough'].map({"Mild": 0, "St

SyntaxError: unterminated string literal (detected at line 20) (68383151.py, line 20)

In [87]:
from sklearn.impute import SimpleImputer

In [89]:
si = SimpleImputer()

In [91]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [93]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [95]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [97]:
df['gender'] = df['gender'].map({"Male": 0, "Female": 1})
df['cough'] = df['cough'].map({"Mild": 0, "Strong": 1})
df['city'] = df['city'].map({"Kolkata": 0, "Bangalore": 1, "Delhi": 2, "Mumbai": 3})
df['has_covid'] = df['has_covid'].map({"Yes": 0, "No": 1})

In [101]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          1
1   27       0  100.0      0     2          0
2   42       0  101.0      0     2          1

In [103]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [105]:
from sklearn.model_selection import train_test_split

In [107]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [109]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   71.00  80.00  80.00
mean   42.91    0.59  101.00   0.40   1.26
std    24.47    0.50    2.05   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00   99.50   0.00   0.00
50%    42.00    1.00  101.00   0.00   1.00
75%    65.00    1.00  103.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [111]:
from sklearn.preprocessing import StandardScaler

In [113]:
sc=StandardScaler()

In [115]:
x_train_sc = sc.fit_transform(x_train)#

In [117]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [125]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  71.00  80.00  80.00
mean   -0.00   -0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -1.19  -1.47  -0.82  -1.19
25%    -0.94   -1.19  -0.74  -0.82  -1.19
50%    -0.04    0.84   0.00  -0.82  -0.25
75%     0.91    0.84   0.98   1.22   0.70
max     1.69    0.84   1.47   1.22   1.64

In [129]:
import seaborn as sns

In [133]:
df = sns.load_dataset("tips")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [135]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [137]:
x=df.drop(columns=['total_bill'])## input data

In [139]:
y=df['total_bill'] ## target data

In [141]:
from sklearn.model_selection import train_test_split

In [143]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [145]:
np.round(x_train.describe(),2)

          tip    size
count  195.00  195.00
mean     3.09    2.57
std      1.43    0.94
min      1.00    1.00
25%      2.00    2.00
50%      3.00    2.00
75%      3.70    3.00
max     10.00    6.00

In [147]:
from sklearn.preprocessing import StandardScaler

In [161]:
sc=StandardScaler() ## mean value do zero convert normal distribution

In [163]:
type(x_train_sc)

numpy.ndarray

In [167]:
x_train_new = pd.DataFrame(x_train_sc, columns=x_train.columns)

# Check the type to confirm it's a DataFrame
type(x_train_new)  # Output: pandas.core.frame.DataFrame

ValueError: Shape of passed values is (80, 5), indices imply (80, 6)

In [171]:
np.round(x_train_new.describe(), 2)

         age  gender  fever  cough   city
count  80.00   80.00  71.00  80.00  80.00
mean   -0.00   -0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -1.19  -1.47  -0.82  -1.19
25%    -0.94   -1.19  -0.74  -0.82  -1.19
50%    -0.04    0.84   0.00  -0.82  -0.25
75%     0.91    0.84   0.98   1.22   0.70
max     1.69    0.84   1.47   1.22   1.64

## normalization -------> min_value =0,max_value=1

In [176]:
df = pd.read_csv("C://Users//Choud//Downloads/placement - placement.csv")
df.head(1)

   cgpa  resume_score  placed
0  8.14          6.52       1

In [178]:
x=df.drop(columns=['placed'])
y=df['placed']

In [184]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [186]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [194]:
from sklearn.preprocessing import minmax_scale

In [196]:
mn=minmax_scale()

TypeError: missing a required argument: 'X'