## pandas ------> pandas is open -source libary of python that is 
                   used for handle data manipulation

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\choud\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\choud\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\choud\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\choud\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\choud\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\choud\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
## data structure of python 
## (a).series ----> it is one -dimensional array and it shows only value
## (b). dataframe ----> it is multi-dimensional array and it contains value with column name

## (a)--> series

In [7]:
a=pd.Series([1,54,78,90])
a

0     1
1    54
2    78
3    90
dtype: int64

In [8]:
type(a)

pandas.core.series.Series

## (b)---> dataframe

In [10]:
a={
    "emp_id":[1,2,3,4],
    "name":["aman","sam","aniket","pallavi"],
    "deprtement":["it","sles","sales","it"],
    "salary":[200,100,500,200]
    
}
df =pd.DataFrame(a)
df

   emp_id     name deprtement  salary
0       1     aman         it     200
1       2      sam       sles     100
2       3   aniket      sales     500
3       4  pallavi         it     200

In [11]:
df.to_csv("employees.csv", index=False)

In [21]:
df.to_csv("C:\\Users\\Choud\OneDrive\\Pictures\\linux\\employ_info.csv",index=False)

<>:1: SyntaxWarning: invalid escape sequence '\O'
<>:1: SyntaxWarning: invalid escape sequence '\O'
C:\Users\Choud\AppData\Local\Temp\ipykernel_8592\801430383.py:1: SyntaxWarning: invalid escape sequence '\O'
  df.to_csv("C:\\Users\\Choud\OneDrive\\Pictures\\linux\\employ_info.csv",index=False)